$blancCasse : #F1F1F1;
$blancGris  : #F5F5F5;
$sombre     : #333;

@mixin flexCentreX {
  display         : flex;
  justify-content : center;
}

*, ::before, ::after {
  box-sizing : border-box;
}

body {
  font-family : "Poppins", sans-serif;
  height      : 100vh;
  margin      : 0;
  padding     : 0;
}

.navbar {
  position         : fixed;
  z-index          : 100;
  width            : 100%;
  @include flexCentreX;
  height           : 60px;
  border-bottom    : 1px solid #999;
  background-color : $blancGris;
}

.contItems {
  font-size   : 1.375rem;
  display     : flex;
  align-items : center;
  height      : 100%;

  .items {
	margin-right    : 30px;
	text-decoration : none;
	color           : #111;

	&:hover {
	  color : #5F5F5F;
	}
  }
}

// ACCUEIL
.accueil::before {
  position            : absolute;
  z-index             : 0;
  width               : inherit;
  height              : inherit;
  content             : "";
  background          : url("../ressources/home.jpg");
  background-color    : $sombre;
  background-position : center;
  background-size     : cover;
  filter              : grayscale(30%) brightness(0.8);
}

.accueil {
  display        : flex;
  align-items    : center;
  flex-direction : column;
  width          : 100%;
  height         : 800px;

  h1 {
	font-family    : "Abril Fatface", sans-serif;
	font-size      : 4.25rem;
	position       : relative;
	z-index        : 10;
	margin         : 0;
	padding-top    : 150px;
	letter-spacing : 0.325rem;
	color          : $blancCasse;

	&::first-letter {
	  //font-size : 6.25rem;
	}
  }

  .sousTitreP {
	font-family    : Poppins, sans-serif;
	font-size      : 1rem;
	z-index        : 10;
	letter-spacing : 0.0625rem;
	color          : $blancCasse;
  }
}

@media screen and (max-width : 1200px) {
  .accueil {
	h1 {
	  font-size      : 3.775rem;
	  letter-spacing : 0.3125rem;
	}
  }
}

@media screen and (max-width : 992px) {
  .accueil {
	height : 600px;

	h1 {
	  font-size      : 3.25rem;
	  letter-spacing : 0.2625rem;
	}
  }
}

@media screen and (max-width : 768px) {
  .accueil {
	height : 600px;

	h1 {
	  font-size      : 2.625rem;
	  letter-spacing : 0.2375rem;
	}
  }
}

@media screen and (max-width : 576px) {
  .accueil {
	align-items : flex-start;
	height      : 500px;

	h1 {
	  font-size      : 2rem;
	  margin         : 0 30px;
	  letter-spacing : 0.1875rem;
	}

	.sousTitreP {
	  margin-right : 30px;
	  margin-left  : 30px;
	}
  }
}

// SECTION 1 TEXTE ET IMAGE : À PROPOS
.titreSection1 {
  font-size   : 2.5rem;
  padding-top : 20px;
  text-align  : center;
}

.textImg {
  width         : 100%;
  padding-top   : 20px;
  @include flexCentreX;
  border-bottom : 1px dashed lightskyblue;

  .flexContainerSection1 {
	@include flexCentreX;
	width : 1200px;

	.contImgSection1 {
	  width  : 45%;
	  margin : 20px;

	  img {
		width         : 100%;
		height        : auto;
		border-radius : 8px;
	  }
	}

	.contTextSection1 {
	  width            : 45%;
	  margin           : 20px;

	  color            : #666;
	  border-radius    : 8px;
	  background-color : lightskyblue;
	  //border: 1px solid black;

	  h2 {
		font-size  : 2.25rem;
		text-align : center;
	  }

	  .sousTitreSection1 {
		text-align : center;
	  }

	  hr {
		width  : 12%;
		border : 1px solid #888;
	  }

	  .textSection1 {
		font-size : 1.125rem;
		padding   : 15px 30px;

		&::first-letter {
		  font-size : 1.875rem;
		}
	  }
	}
  }
}

@media screen and (max-width : 1200px) {
  .textImg .flexContainerSection1 {
	align-items    : center;
	flex-direction : column;
	width          : 400px;

	.contImgSection1 {
	  width : 100%;
	}

	.contTextSection1 {
	  width : 100%;
	}
  }
}

@media screen and (max-width : 576px) {
  .titreSection1 {
	font-size : 1.5rem;
  }
}

// SECTION 2 PORTFOLIO
.titrePortfolio {
  font-size      : 2.25rem;
  padding-bottom : 10px;
  text-align     : center;
}

.diviseurPortfolio {
  width  : 12%;
  border : 1px solid #888;
}

.portfolioImg {
  width          : 100%;
  padding-top    : 20px;
  @include flexCentreX;
  padding-bottom : 100px;
}

.flexImgPortfolio {
  flex-wrap : wrap;
  @include flexCentreX;
  width     : 1200px;

  .imgPortfolio {
	overflow      : hidden;
	width         : 300px;
	height        : 370px;
	margin        : 20px;
	border-radius : 8px;

	img {
	  width  : 100%;
	  height : auto;
	}
  }
}

@media screen and (max-width : 576px) {
  .titrePortfolio {
	font-size : 1.5rem;
  }
}

// SECTION 3 SCROLL PARALLAXE
.scrollParallaxe {
  align-items           : center;
  width                 : 100%;
  height                : 300px;
  background            : url("../ressources/parallaxImg.jpg");
  background-repeat     : no-repeat;
  background-attachment : fixed;
  @include flexCentreX;
  background-size       : cover;

  h3 {
	font-size      : 3.125rem;
	text-align     : center;
	letter-spacing : 0.1875rem;;
	color          : $blancCasse;
  }
}

// SECTION FORMULAIRE
.titreFormulaire {
  text-align : center;
}

.formulaire {
  width : 100%;
  @include flexCentreX;

  form {
	width : 60%;

	.row {
	  width : 100%;

	  input, textarea {
		width         : 100%;
		padding       : 12px;
		border        : 1px solid #CCC;
		border-radius : 6px;
	  }

	  textarea {
		height : 150px;
	  }

	  .submitBtn {
		display    : block;
		width      : 30%;
		margin     : 10px auto 0;
		cursor     : pointer;
		transition : all 0.2s ease;

		&:hover {
		  color      : $blancCasse;
		  background : lightskyblue;
		}
	  }
	}

	.row:nth-child(2), .row:nth-child(3) {
	  margin-top : 30px;
	}
  }
}
