$blancCasse : #F1F1F1;
$blancGris  : #F5F5F5;
$sombre     : #333;

@mixin flexCentreX {
  display         : flex;
  justify-content : center;
}

*, ::before, ::after {
  box-sizing : border-box;
}

body {
  font-family : "Poppins", sans-serif;
  height      : 100vh;
  margin      : 0;
  padding     : 0;
}

.navbar {
  position         : fixed;
  z-index          : 100;
  width            : 100%;
  @include flexCentreX;
  height           : 60px;
  border-bottom    : 1px solid #999;
  background-color : $blancGris;
}

.contItems {
  font-size   : 1.375rem;
  display     : flex;
  align-items : center;
  height      : 100%;

  .items {
	margin-right    : 30px;
	text-decoration : none;
	color           : #111;

	&:hover {
	  color : #5F5F5F;
	}
  }
}

// ACCUEIL
.accueil::before {
  position            : absolute;
  z-index             : 0;
  width               : inherit;
  height              : inherit;
  content             : "";
  background          : url("../ressources/home.jpg");
  background-color    : $sombre;
  background-position : center;
  background-size     : cover;
  filter              : grayscale(30%) brightness(0.8);
}

.accueil {
  display        : flex;
  align-items    : center;
  flex-direction : column;
  width          : 100%;
  height         : 800px;

  h1 {
	font-family    : "Abril Fatface", sans-serif;
	font-size      : 4.25rem;
	position       : relative;
	z-index        : 10;
	margin         : 0;
	padding-top    : 150px;
	letter-spacing : 0.325rem;
	color          : $blancCasse;

	&::first-letter {
	  //font-size : 6.25rem;
	}

  }

  .sousTitreP {
	font-family : Poppins, sans-serif;
	font-size   : 1rem;
	letter-spacing: 0.0625rem;
	z-index     : 10;
	color       : $blancCasse;
  }
}

@media screen and (max-width : 1200px) {
  .accueil {
	h1 {
	  font-size      : 3.775rem;
	  letter-spacing : 0.3125rem;
	}
  }
}

@media screen and (max-width : 992px) {
  .accueil {
	height : 600px;

	h1 {
	  font-size      : 3.25rem;
	  letter-spacing : 0.2625rem;
	}
  }
}

@media screen and (max-width : 768px) {
  .accueil {
	height : 600px;

	h1 {
	  font-size      : 2.625rem;
	  letter-spacing : 0.2375rem;
	}
  }
}

@media screen and (max-width : 576px) {
  .accueil {
	height : 500px;
	align-items: flex-start;

	h1 {
	  font-size      : 2rem;
	  letter-spacing : 0.1875rem;
	  margin: 0 30px;
	}

	.sousTitreP {
	  margin-left: 30px;
	  margin-right: 30px;
	}
  }
}
